---
import HerderLink from './herderLink.astro';

interface Props {
        title: string;
        href: string;
        src: string;
        alt: string;
        description: string;
};
const { title, href, src, alt, description } = Astro.props;
---
<div class="card" style="width: 20rem;">
    <img src={src} class="card-img-top" alt={alt}>
    <div class="card-body">
      <h5 class="card-title">{title}</h5>
      <p class="card-text">{description}</p>
      <HerderLink href={href} class="btn btn-light">Leer</HerderLink>
    </div>
  </div>