---
import "../styles/styles.css"
import HerderLink from "./herderLink.astro";

interface Props {
    title: string;
    menu: {
        title: string,
        img: {
            src: string;
            alt: string;
        };
        href: string;
    }[];
};

const { title, menu } = Astro.props;
---
<div class="container-fluid">
    <div class="p-2"><h2 class="fw-bold fs-1">{title}</h2></div>
<div class="card-group">
    <div class="card">
      <img src=`${menu[0].img.src}` class="card-img-top" alt=`${menu[0].img.alt}`>
      <div class="card-body">
        <h5 class="card-title">{menu[0].title}</h5>
        <HerderLink href={menu[0].href} class="btn btn-light">Ir a la Pagina</HerderLink>
      </div>
    </div>
    <div class="card">
      <img src=`${menu[1].img.src}` class="card-img-top" alt=`${menu[1].img.alt}`>
      <div class="card-body">
        <h5 class="card-title">{menu[1].title}</h5>
        <HerderLink href={menu[1].href} class="btn btn-light">Ir a la Pagina</HerderLink>
      </div>
    </div>
  </div>
</div>